# Task 1

### 1) Write a program to get the data type of a data

In [1]:
a=[2,8,9,'manasa']
b={"manasa",1,2,3,4}
c=("aravind",3,5,9,5)
d="chinna"
e=9493122594
f=36.29
g=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### 2) Write a program to convert a integer data type to float data type

In [2]:
a=9493122594
float(a)

9493122594.0

### 3) Write a program to convert a integer data type to float data type and vice versa

In [3]:
a=9398922297
a=float(a)
print(a)
a=int(a)
print(a)

9398922297.0
9398922297

### 4) Write a programme to get the actual location of the data

In [4]:
a=926589
id(a)

2561839831952

### 5) Give an example of implict conversion and explict conversion

In [5]:
x=2
y=2.6
x+y

4.6

In [6]:
a=5
b=59.36

print(int(a))
print(int(b))
print(float(a))
print(complex(a))
print(str(a))

5
59
5.0
(5+0j)
5

### 6) Write a programme to prove that python is a case senstive language

In [7]:
a="manasa is a good girl"
print(A)

NameError: name 'A' is not defined

### 7) Write a programme to get a syntax error

In [8]:
m="manasa":
print(m)

SyntaxError: invalid syntax (922698284.py, line 1)

### 8) Write a programme to get a type error

In [9]:
a="manasa"
b=2566
print(a+b)

TypeError: can only concatenate str (not "int") to str

### 9) Give an example of mulitple statement in a single line

In [10]:
a=23;v="manasa";c=598.36;print(a+c);print(v)

621.36
manasa

### 10) Give an example of single line statement in multiple line

In [11]:
5000+\
933*\
63

63779